// Custom colors added

$gradientfrom: #fff;
$gradientto: #8a8a8a; 
$gradientfrom2: #00d2ff;
$gradientto2: #928DAB; 
$textshadow: #e7e7e7;
$darkgrey: #605c5b;
$bordercolor: #3a3a3a;
$bluetheme: #336eb5;
$purpletheme: #0A4081;
$sidepanel: #292E35;
$selected: #b2b2b2;
$greyScheme: #404040;
$cakeBorder: #3665C1;
$cakeBox: #2656B2;
$cakeSelected: #302F3F;
$scheduleHeader: #0E4583;




// Color Palette   http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project 
// Title: 'Our Little Projects'


$navyBlue: #354458;
$lightBlue: #3A9AD9;
$teal: #29ABA4;
$khaki: #E9E0D6;
$peach: #EB7260;
