$gradientfrom: #fff;
$gradientto: #8a8a8a; 
$gradientfrom2: #00d2ff;
$gradientto2: #928DAB; 
$textshadow: #e7e7e7;
$darkgrey: #605c5b;
$bordercolor: #3a3a3a;
$bluetheme: #336eb5;
$purpletheme: #0A4081;
$sidepanel: #292E35;
$selected: #b2b2b2;
$greyScheme: #404040;
$cakeBorder: #3665C1;
$cakeBox: #2656B2;
$cakeSelected: #302F3F;
$scheduleHeader: #0E4583;


.adminHeader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid $darkgrey;
	padding-left: 15px;
	padding-top: 5px;
	background: $greyScheme;
	// display: flex;
	// justify-content: space-between;
				// border: 2px solid orange;
	// box-sizing: border-box;
}
.adminHeader img {
	height: 20px;
	width: auto;
}
.titleContainer {
					// border: 1px solid yellow;
	width: 100%;
	// display: flex;
	// justify-content: flex-end;
	margin-left: 50px;
}
.departmentTitleTag {
	position: absolute;
	top: 0;
	left: 50%;
	width: auto;
	// line-height: 40px;
	color: $textshadow;
	font-family: Copperplate;
				border: 1px solid red;
	font-size: 24px;
	margin: 0 auto;
}
.roster {
	font-family: Copperplate;
	color: white;
	font-size: 22px;
	text-shadow: 1px 1px 0 #000;
}
.barn {
	font-family: 'Cooper Black';
	color: $selected;
	font-size: 22px;
	text-shadow: 1px 1px 0 #000;
}
.letter {
	color: $gradientfrom2;
	font-size: 24px;
	text-shadow: 1px 1px 0 #000;
}
.logout, .settings, .options {
	cursor: pointer;
}
.logout:hover, .settings:hover, .options:hover {
	color: white;
}
.headerOptions {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	width: 380px;
	height: 40px;
	line-height: 40px;
	color: $textshadow;
	font-family: Copperplate;
				// border: 1px solid green;
}


.fa-cogs, .fa-sign-out, .fa-bars {
	margin: 0 15px 0 10px;
}
.fa-sign-out {
	margin-right: 5px;
}