$gradientfrom: #fff;
$gradientto: #8a8a8a; 
$gradientfrom2: #00d2ff;
$gradientto2: #928DAB; 
$textshadow: #e7e7e7;
$darkgrey: #605c5b;
$bordercolor: #3a3a3a;
$bluetheme: #336eb5;
$purpletheme: #0A4081;
$sidepanel: #292E35;
$selected: #b2b2b2;
$navyBlue: #354458;
$lightBlue: #3A9AD9;
$teal: #29ABA4;
$khaki: #E9E0D6;
$peach: #EB7260;


.scheduleBg {
	background: url('../images/bluebg.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	// border: 3px solid yellow;
}

.calendarFlex {
	display: flex;
	// flex-wrap: nowrap;
	width: 80%;
	height: 80%;
	margin: 15px 15%;  
										 // border: 2px solid red;
	// margin-top: 5%;
	// margin-left: 25%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-border-top-left-radius: 5px; 
    -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    -moz-border-radius-topright: 5px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    font-weight:bold; 
 	text-shadow:0px -1px 0 $textshadow;   
    background: #e0e0e0;

}
.headerBar {
	width: 100%;
	height: auto;
	// line-height: auto;
	margin: 10px;
	// border: 5px solid #e7e7e7;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.employeeLogout {
	width: 100px;
	height: 30px;
	line-height: 30px;
	// border: 3px solid red;
	font-family: Arial;
	font-size: 14px;
	color: white;
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
}
.employeeLogout:hover {
	color: $darkgrey;
}
.logout:hover {
	color: $khaki;
}
.cal {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: auto;
	overflow-x: auto;
	overflow-y: scroll;
	border: 1px solid $darkgrey;
										// border: 3px solid yellow;
}
.header, .days {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	// border: 1px solid pink;
	text-align: center;
}

.month-year, .headerDay {
	text-transform: uppercase;
}
.header {
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	font-weight: bold;
	background: $gradientto; 
    background: -moz-linear-gradient(top, $gradientfrom, $gradientto); 
    background: -webkit-gradient(linear, left top, left bottom, from($gradientfrom), to($gradientto));
    justify-content: space-between;
    -webkit-border-top-left-radius: 5px; 
    // -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    // -moz-border-radius-topright: 5px; 
    border-top-left-radius: 5px; 
    // border-top-right-radius: 5px; 
    font-weight:bold; 
    text-shadow:0px -1px 0 $textshadow;
}
.previous, .next {
	// border: 1px solid red;
	width: 12%;
}
.previous:hover, .next:hover {
	cursor: pointer;
	background: $darkgrey; 
    background: -moz-linear-gradient(top, $gradientfrom, $darkgrey); 
    background: -webkit-gradient(linear, left top, left bottom, from($gradientfrom), to($darkgrey));
    -webkit-border-top-left-radius: 5px; 
    // -webkit-border-top-right-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    // -moz-border-radius-topright: 5px; 
    border-top-left-radius: 5px; 
    // border-top-right-radius: 5px; 
}
.days {
	height: 40px;
	line-height: 40px;
	justify-content: space-around;
										// border: 3px solid blue;

}
.days > * {
	// border-right: 1px solid black;
	width: 14.3%;
	text-align: center;
										// border: 3px solid blue;
}
.date {
	width: 100%;
	min-height: 200px;
	height: 100%;
										// border: 3px solid green;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}
.dayOf {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	height: 100%;
										// border: 3px solid orange;
}
.headerDay {
	// border: 1px solid pink;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: $gradientfrom2; 
    // background: -moz-linear-gradient(top, $gradientfrom, $darkgrey); 
    // background: -webkit-gradient(linear, left top, left bottom, from($gradientfrom2), to($gradientto2));
    justify-content: space-between;
    color: white;
    text-shadow: 1px 1px 1px #000;
}
.currentDay {
	height: 180px;
	
										// border: 1px solid orange;
	
	text-align: center;
	
}
.currentDay p {
	font-size: 64px;
	color: #336eb5;
	height: 70px;
	line-height: 70px;
	padding-top: 40px;
}
.currentDay p:nth-child(2) {
	font-size: 34px;
	color: #336eb5;
	height: 40px;
	line-height: 40px;
}
.currentDay p:nth-child(3) {
	margin: 5px 0 0 0;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	color: $darkgrey;
	
}
.dayOptions {
	height: 160px;
	// text-align: center;
	// border: 1px solid black;
	padding-left: 55px;
}
.dayOptions > div > a {
	text-decoration: none;
	display: block;
	margin-top: 15px;
	color: $bluetheme;
}
.dayOptions > div > a:hover {
	
	color: $purpletheme;
}
.dayOptions > div > a:before {
	
	content: "> ";
}
.box {
	width: 14.285%;
	min-height: 60px;
	height: 20%;
	border-right: 1px solid $darkgrey;
	border-top: 1px solid $darkgrey;
	color: $bluetheme;
	padding: 5px;
											// border: 1px solid orange;
}
.box p:nth-child(2) {
	color: $darkgrey;
	width: 100%;
	font-size: 12px;
	// margin: 5px 0 0 30px;
	text-align: center;
	margin-top: 10px;
}
.divider {
	width: 80%;
	border: 1px solid $gradientto;
	margin: auto;
}
.status {
	height: 80px;
								// border: 1px solid red;
	text-align: center;
	font-size: 16px;
	font-family: Arial;
}

.highlight {
	background: $gradientfrom2; 
    // background: -moz-linear-gradient(top, $gradientfrom, $darkgrey); 
    // background: -webkit-gradient(linear, left top, left bottom, from($gradientfrom2), to($gradientto2));
    color: black;
}
.inactiveMonth {
	background: rgb(195, 195, 195);
	color: #000;
	// text-shadow:1px 1px 0 #000;
	font-size: 10px;
}
.activeMonth {
	background: #f9f9f9;
}
#startTime {
	color: $purpletheme;
}

@media screen and (max-height: 635px), screen and (max-width: 1000px) {
	body {
		background: url('../images/bluebg.jpg') no-repeat center center fixed;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
	.scheduleBg {
		height: auto;
	}
	.calendarFlex {
		display: block;
		width: 95%;
		margin: 0 auto;
	}
	.cal {
		width: 100%;
	}
	.header, .headerDay {
		height: 50px;
		line-height: 50px;
		font-size: 18px;
	}
	 
	.dayOf {
		width: 100%;
		background: #f9f9f9;
		height: 350px;
								// border: 1px solid red;
	}
	.dayOptions {
		display: flex;
		justify-content: space-around;
		height: 40px;
	}
	.dayOptions > div > a {
		text-decoration: none;
		font-size: 12px;
		display: block;
		margin-top: 15px;
		color: $bluetheme;
	}
	.currentDay {
		height: 60px;

							// border: 1px solid orange;
	}
	.currentDay p {
		font-size: 34px;
		color: #336eb5;
		height: 40px;
		line-height: 40px;
		padding-top: 10px;
	}
	.currentDay p:nth-child(2) {
		font-size: 18px;
		color: #336eb5;
		height: 20px;
		line-height: 20px;
	}
	.currentDay p:nth-child(3) {
		margin: 5px 0 0 0;
		font-size: 14px;
		height: 20px;
		line-height: 20px;
		color: $darkgrey;
		
	}
	.status {
		height: 20px;
	}
	.box {
		height: 40px;
		font-size: 10px;
	}
	.box p:nth-child(2) {
		color: $darkgrey;
		width: 100%;
		font-size: 11px;
		// margin: 5px 0 0 30px;
		text-align: center;
		margin-top: 10px;
	}

}