@import './variables';

.calendarHeader, .adminCalendarHeader {
	width: 100%;
	background: $purpletheme;
	display: flex;
	justify-content: space-between;
	color: white;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
										// border: 3px solid red;
}
.calendarHeader {
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}
.previousButton, .nextButton {
	// border: 1px solid red;
	width: 12%;
}
.previousButton:hover, .nextButton:hover {
	cursor: pointer;
	color: $gradientfrom2; 
	// font-size: 28px;
	font-weight: bold;
}
.adminCalendarHeader {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}