@import './variables';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

.eachDay {
	min-width: 120px;
	width: 14.3%;
	height: 90px;
	// line-height: 30px;
	border: 1px solid #f4f4f4;
	overflow: hidden;
	padding-left: 10px;
							// border: 2px solid green;
}

// .eachDay input {
// 	// width: 50px;
// 	border: none;
// 	outline: none;
// 	background:transparent;
// 	// border: 1px solid red;
// }

// .eachDay input:only-of-type {
// 	font-size: 12px;
// 	font-family: 'Arial';
// }

.employeeFlex {
	display: flex;
	flex-wrap: nowrap;
			border: 1px solid red;
	width: 1000px;
	height: 50px;
	margin: 50px auto;
}

.nameField {					// Each Name On Schedule  *****   nameFieldCss   ******
	font-size: 16px;
	font-family: Arial;
    // white-space: nowrap;
	padding-left: 10px;
	margin-top: 5px;
	// border: 1px solid yellow;
}
.idNum {
	font-size: 14px;
	font-weight: 700;
	// border: 1px solid red;
	// padding-left: 5px;
	color: $darkgrey;
	padding-left: 10px;
	margin-top: 5px;
}

.idNum:before {
	content: "#"
}
// .nameField input[type=text] {
// 	// width: 200px;
// 	// border: 2px solid blue;
// 	// background: yellow;
// }
.nameImageBox {
	display: flex;
	width: 100%;
	overflow: hidden;
	padding-top: 5px;
	font-family: Roboto
}
.nameImageBox:first-child img {
	width: 60px;
	height: 50px;
	border-radius: 5px;
	// border-right: 1px solid $darkgrey;
}
.nameImageBox:first-child img:hover {
	width: 44px;
	height: 36px;
	box-shadow: 2px 2px 2px $darkgrey;
}
// .timeLocationBox {
// 	width: 95%;
// 	height: 100%;
// 	// border-left: 5px inset $lightBlue;	
// 									border: 3px inset $lightBlue;
// 	// border-radius: 5px;
// 	// padding-left: 10px; 
// 	// padding-bottom: 10px;
// 	// box-sizing: border-box;
// 	// margin: 10px 0 10px 0;
// 	margin: 0 auto;
// }

.nameIdBox {
	display: flex;
	flex-direction: column;
	// border: 1px solid red;
	padding-left: 3px;
}
.locationStyle {
	font-size: 10px;
	color: $purpletheme;
	font-weight: 600;
}
.timeField {
	// border: 4px solid red;
}
#timeInputField {
 	// margin: 0 10px 0 10px;
}