@import './variables';


.eachDay {
	width: 14.3%;
	height: 40px;
	// line-height: 30px;
	border: 1px solid #f4f4f4;
	text-align: center;

}

.eachDay input {
	// width: 50px;
	border: none;
	outline: none;
	background:transparent;
	// border: 1px solid red;
}

.eachDay input:only-of-type {
	font-size: 12px;
	font-family: 'Arial';
}

.employeeFlex {
	display: flex;
	flex-wrap: nowrap;
	border: 1px solid red;
	width: 1000px;
	height: 50px;
	margin: 50px auto;
}
// .testbox {
// 	width: 120px;
// 	height: 50px;
// 	border: 1px solid blue;
// }
// .testbox1 {
// 	width: 160px;
// 	height: 50px;
// 	border: 1px solid blue;
// }
// .testbox input {
// 	visibility: hidden;
// }

.testColor {
	background: yellow;
}

#test input {
	text-align: center;
	width: 100%;
	// border-bottom: 1px solid $darkgrey;
	// overflow-x: scroll;
 //    overflow-y: hidden;
    			// border: 1px solid blue;
}
// :not(:first-child)

#test {
	// border: 1px solid blue;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	padding: 3px;
}
.nameField {					// Each Name On Schedule  *****   nameFeildCss   ******
	// background: $teal;
	// color: $khaki;
	// text-shadow:0px -1px 0 #fff;
	text-align: left;
	padding-left: 3px;
	font-size: 12px;
	font-family: Arial;
	// overflow-x: scroll;
 //    overflow-y: hidden;
    white-space: nowrap;
	// border: 1px solid red;;
	// width: 100%;
}
.idNum {
	font-size: 11px;
	// border: 1px solid red;
	// padding-left: 5px;
	color: $darkgrey;
	text-align: center;
}
.idNum:before {
	content: "#"
}
.nameField input[type=text] {
	// width: 200px;
	// border: 2px solid blue;
	// background: yellow;
}
.nameImageBox {
	display: flex;
	// min-width: 180px;
	width: 100%;
	// box-shadow: 1px 1px 1px $darkgrey;

			// border: 2px solid $darkgrey;

// .nameImageBox:first-child {
	overflow: hidden;
}
.nameImageBox:first-child img {
	width: 40px;
	height: 34px;
	border-radius: 5px;
	// border-right: 1px solid $darkgrey;
}
.nameImageBox:first-child img:hover {
	width: 44px;
	height: 36px;
	box-shadow: 2px 2px 2px $darkgrey;
}
.timeLocationBox {
	display: flex;
	flex-direction: column;
	// border: 1px solid red;
	// align-items: center;
}
.timeLocationBox > * {

	// border: 1px solid green;
}
.nameIdBox {
	display: flex;
	flex-direction: column;
	// border: 1px solid red;
	padding-left: 3px;
}
.locationStyle {
	font-size: 10px;
	color: $purpletheme;
	font-weight: 600;
}
