@import './variables';



.namesAcross {
	display: flex;
	width: 100%;
	// flex-wrap: nowrap;
	// flex-direction: column;
				border: 1px solid red;
	// font-family: Arial;
}

// .namesAcross:nth-child(even) {           
// 	background: #eee;
// }

