@import './variables';



.namesAcross {
	display: flex;
	flex-wrap: nowrap;
	// flex-direction: column;
	border: 1px solid black;
	font-family: Arial;
}

.namesAcross:nth-child(even) {           
	background: #eee;
}

