@import './variables';


.homePageWrapper {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	background: #dedede;
	// border: 10px solid purple;
}


.homePageContainer {
	width: 300px;
	height: 360px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	margin: auto;
	background: white;
	border: 4px solid $textshadow;
	-moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25); 
}

.logoContainer {
	// border: 4px solid red;
	background: $greyScheme;
	padding: 0 auto;
	display: flex;
	justify-content: center;
}

.forgot {
	font-family: 'Roboto';
	font-size: 12px;
	// border: 4px solid red;
	text-align: center;
	margin-top: 20px;
}

.forgot:hover {
	color: $purpletheme;
	cursor: pointer;
	font-size: 14px;
}
.inputError {
	width: 320px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #f12121;
	text-shadow: 1px 1px -1px #fff;
	background: $cakeSelected;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	border: 2px solid $darkgrey;
	position: relative;
	margin: 0 auto;
	animation: drop 5s;
	-moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25); 
}

@keyframes drop {
	0% {
		top: -200px;
	}
	15% {
		top: -100px;
	}
	25% {
		top: 0;
	}
	50% {
		top: 0;
	}
	75% {
		top: 0;
	}
	85% {
		top: -100px;
	}
	100% {
		top: -200px;
	}
}