@import './variables';



.logoContainerDiv {
	width: 150px;
	height: 40px;
	line-height: 30px;
	padding-left: 5px;
								// border: 2px solid green;
}
.roster {
	font-family: Copperplate;
	color: white;
	font-size: 22px;
	text-shadow: 1px 1px 0 #000;
}
.barn {
	font-family: 'Cooper Black';
	color: $selected;
	font-size: 22px;
	text-shadow: 1px 1px 0 #000;
}
.letter {
	color: $gradientfrom2;
	font-size: 24px;
	text-shadow: 1px 1px 0 #000;
}