@import './variables';

.mobileCalendar {

}

.calendarHeader {

}

.calendarContainer {
	width: 80%;
	height: auto;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
}
.calendarDay {
	width: 14%;
	height: 40px;
	border: 1px solid yellow;
}