@import './variables';

.mobileCalendar {

	background: url('../images/bluebg.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
								// border: 10px solid yellow;
}

.calendarFrame {
	width: 85%;
	height: 80%;
	margin: 70px auto 20px;
	display: flex;
									@include borderthick(red);
}
.calendarFrameContainer {
	border: 1px solid $darkgrey;
	width: 75%;
	height: auto;
	display: flex;
	flex-direction: column;
									// border: 6px solid orange;
}
// .mobileHeader {
// 	width: 100%;
// 	// margin: 60px auto 0;
// 	display: flex;
// 	justify-content: space-between;
// 									// @include borderthin(orange);
// }
// .daysOfWeek {
// 	display: flex;
// 	justify-content: space-around;
// 	width: 100%;
// 	// margin: 0 auto;
// 	border: 1px solid green;
// }
.month-year {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 1px #e7e7e7;
}

@media screen and (max-width: 1000px) {   				//screen and (max-height: 635px), 
	.calendarFrame {
		display: block;
		width: 95%;
	}
	.calendarFrameContainer {
		width: 100%;
	}
	.mobileCalendar {
		height: auto;
	}
}