@import './variables';


.adminBg {
	min-height: 700px;
	height: 100%;
	min-width: 1000px;
	width: 100%;
	position: relative;
	top: 90px;
	left: 0;
	padding: 5px;
	padding-bottom: 90px;
	// z-index: 4;
	// size: landscape; 
									// @include borderthick(red);
	// position: relative;
	// overflow: hidden;
}

.adminFooter {
	position: fixed;
	bottom: 0;
	left: 200px;
	right: 0;
	height: 30px;
	line-height: 30px;
	background: #eee;
	text-align: center;
	font-family: 'Helvetica Neue';
}
.adminContainer {
	margin: 40px 0 0 0;
	width: 100%;
	height: auto;
	padding-left: 200px;
	// position: relative;
	// z-index: 10;	
			border: 10px solid red;
}
.scheduleFlex {
	position: relative;
	z-index: 0;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	min-height: 150px;
	height: 100%;
			// border: 3px solid green;
	// margin: 0 0 0 220px;
	-moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    overflow: scroll;
}

.eachRowNew {
	// width: 100% !important;
	display: flex;
	border: 1px solid #999;
	background: #bbb;
									// border: 3px solid green;
}
.eachRowNew:nth-child(odd) {           
	background: #eee;
}

.changeFlexBoxSize {
	width: 1200px;
	margin: 0 0 0 50px;
	color: red;
}

.schedule {
	width: 100%;
	min-width: 800px;
									// border: 3px solid yellow;
}

.grave {
	background: #048F40;
}
.day {
	background: #2F138A;
}
.swing {
	background: #C92F06;
}
.all {
	background: #042850;
}

.employeeBox-enter {
  opacity: 0.01;
}

.employeeBox-enter.employeeBox-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.employeeBox-leave {
  opacity: 1;
}

.employeeBox-leave.employeeBox-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}


.red {
	background: red;
	border-radius: 5px;
	text-shadow: 1px 1px 1px $textshadow;
}
.yellow{
	background: yellow;
	border-radius: 5px;
	text-shadow: 1px 1px 1px $textshadow;
}
.pink {
	background: pink;
	border-radius: 5px;
	text-shadow: 1px 1px 1px $textshadow;
}
.orange {
	background: orange;
	border-radius: 5px;
	text-shadow: 1px 1px 1px $textshadow;
}


@media print {
	.sidePortal, .headerOptions, .printClearButtons, .rightButton, .leftButton, .nameImageBox img, .fa-user-plus {
		visibility: hidden;
		display: none;
	}
	.adminContainer {
		padding-left: 0;
	}
	.weekOf {
		border: 1px solid $darkgrey;
	}
	.weekOfDay {
		height: 40px;
	}

}
